.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-group-1 {
  --radius: 45px;
  height: auto;
  min-height: 245px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 739px;
  margin: 163px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 51px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 15px;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 201px;
}

.u-section-1 .u-btn-2 {
  --radius: 15px;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -56px 201px 0 auto;
}

.u-section-1 .u-btn-3 {
  --radius: 15px;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -56px 392px 0 auto;
}

.u-section-1 .u-btn-4 {
  --radius: 15px;
  border-style: solid;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -56px auto 60px 412px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 1px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 192px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -117px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -143px;
  }
}